{% extends 'NanowebMainApp/base.html' %}

{% block title %}
	<title>Nanoweb search interface</title>
{% endblock title %}

{% load static %}

{% block scripts %}
	<script>

		var domain = "nanoweb.dei.unipd.it";

		$(document).ready(function() {

			//$("body").css("height", window.innerHeight);
			//$("#header").css("height", window.innerHeight);
			console.log(window.innerHeight);

			let explore_button = $("#explore_button");
			let menu_button = $("#menu-button");

			menu_button.click(function(){
				//$("#sidebar").toggle();
				$('#sidebar').toggleClass('inactive');
				menu_button.toggleClass("fa-bars");
				menu_button.toggleClass("fa-times");

			});

			explore_button.click(function () {

				showModal('loadingModal', 'Loading search interface', modal_body_loading);
				window.location.href  = "http://nanoweb.dei.unipd.it/search";

			});

			function encodeAllHTML(str){
				if(str != undefined)
				{
					str = str.replace("/", "§");
					str = str.replace("\"", "&quot;");
					str = str.replace(/'/g, "&apos;");
					str = str.replace(/[^a-zA-Z0-9+<>=,.:;%()§\-\[\]&/ ]/g, "")
				}
				else
				{
					str = "";
				}

				console.log("str: "+str);

				return str;
			}


			function sendSuggestion(event) {

				let query = $('#query').val().trim();

				query = encodeAllHTML(query);

				console.log("Query for querysuggestion: " + query);

				let suggestionsList = "";

				if (query.length > 3) {
					//console.log("Query: '"+query+"'");

					$.ajax({
						//url: "http://nanoweb.dei.unipd.it/querysuggestions/"+query,
						url: "http://" + domain + "/querysuggestions/" + query + "/",
						type: 'GET',
						async: true,
						timeout: 15000
					})
							.done(function (data) {

								let suggestionsList = data["suggestionsList"];


								$("#query").autocomplete({
									source: suggestionsList
								});


								// Necessary to add annoying ui-helper
								$(".ui-helper-hidden-accessible").hide();


							}).fail(function () {


					});


				}


			}

			function load() {
				var query = document.getElementById('queryBox').value;
				document.getElementById('spanId').innerHTML = query;
			}


			$('#query').keyup(function (event) {
				sendSuggestion(event);
			});
			$('#query').click(function (event) {
				sendSuggestion(event);
				$("#ui-id-1").show();
			});


		});
	</script>
{% endblock scripts %}


{% block styles %}
<!-- Custom css for the current page -->

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/custom_styles_search.css' %}"/>
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}"/>



{% endblock styles %}
    
{% block body %}
  <body>
  <div id="wrapper">
	  <!-- Sidebar  -->
	  <nav id="sidebar" class="inactive">
		  <div class="sidebar-header">
			  <!--<span class="icon solid fa-2x fa-cloud"></span>-->
			  <img src="{% static 'images/nanoweb_logo_white.png' %}" class="nanoweb-logo">
			  <h3>Nanoweb</h3>
		  </div>

		  <ul class="list-unstyled components">

			  <li>
				  <a href="http://nanoweb.dei.unipd.it/search">
					  <i class="fas fa-home"></i>
					  Home
				  </a>
				  <a href="http://nanoweb.dei.unipd.it/stats">
					  <i class="fas fa-chart-bar"></i>
					  Stats
				  </a>

				  <a href="http://nanoweb.dei.unipd.it/about">
					  <i class="fas fa-info-circle"></i>
					  About
				  </a>

			  <li>
				  <a href="http://nanoweb.dei.unipd.it/contacts">
					  <i class="fas fa-paper-plane"></i>
					  Contacts
				  </a>
			  </li>
		  </ul>
	  </nav>

	  <div class="menu-button-div">
		  <i id="menu-button" class="fas fa-bars menu-button"></i>
	  </div>

    <!-- Header -->
			<section id="header">
				<div class="inner">
					<!--<span class="icon solid major fa-cloud"></span>-->
					<img src="{% static 'images/nanoweb_logo_transparent.png' %}" class="nanoweb-logo position-relative-top-minus-10">
					<h1><span class="h1_title">Nanoweb</span></h1>
					<p class="subtitle">Nanopublications Web Search Interface</p><br/>
					<!--<label>Search for:</label>-->



					<form action="{% url 'NanowebMainApp:search' %}" method='post' autocomplete="off">
					{% csrf_token %}
					{{form.as_p}}

					<button class="btn button" name="submit">Search</button>

				</form>
					<p>Try these queries:</p>
					<div id="query-examples" class="flex-div">
						<a href="./results/colorectal cancer" class="no-link-decoration"><h5 class="query-example"><span class="badge badge-pill badge-dark">Colorectal cancer</span></h5></a>
						<a href="./results/lung carcinoma" class="no-link-decoration"><h5 class="query-example"><span class="badge badge-pill badge-dark">Lung carcinoma</span></h5></a>
						<a href="./results/breast cancer" class="no-link-decoration"><h5 class="query-example"><span class="badge badge-pill badge-dark">Breast cancer</span></h5></a>
					</div>
				</div>
			</section>
  </div>
  </body>
{% endblock body %}